{
  "comment": "UserControlled, Test, Demo sources are predefined. Same for Demo, Test and RemoteCodeExecution sinks",
  "sources": [
    {
        "name": "UserControlled",
        "comment": "Used to annotate user input."
    },
    {
        "name": "UserControlled_Meta",
        "comment": "Used to annotate user input for meta."
    },
    {
        "name": "UserControlled_Parameter",
        "comment": "Used to annotate user input for parameter."
    },
    {
    "name": "URL",
    "comment": "Used to annotate URL"
    },
    {
    "name": "Cookies",
    "comment": "Used to annotate cookies."
    },
    {
    "name": "HeaderData",
    "comment": "Used to annotate Header data."
    },
    {
    "name": "UserControlled_Payload",
    "comment": "Used to annotate user input payload."
    },
    {
    "name": "ResponseData",
    "comment": "Used to annotate response data."
    },
    {
      "name": "CustomUserControlled",
      "comment": "use to annotate user input"
    }
  ],
  "sinks": [
    {
    "name": "CodeExecution",
    "comment": "Used to annotate python execution."
    },
    {
    "name": "Redirect",
    "comment": "Used to annotate redirect"
    },
    {
    "name": "FileSystem_ReadWrite",
    "comment": "Used to annotate File System Read Write."
    },
    {
    "name": "ReturnedToUser",
    "comment": "Used to annotate user."
    },
    {
    "name": "ResponseHeaderName",
    "comment": "Used to annotate response header name."
    },
    {
    "name": "ResponseHeaderValue",
    "comment": "Used to annotate response header value."
    },
    {
    "name": "XSS",
    "comment": "Used to annotate XSS."
    },
    {
    "name": "ServerSideTemplateInjection",
    "comment": "Used to annotate Server side template injection."
    },
    {
      "name": "ShellExecution",
      "comment": "Used to annotate shell execution."
    }
  ],

  "features": [],
  "rules": [{
    "name": "Possible RCE:",
    "code": 1001,
    "sources": ["UserControlled"],
    "sinks": ["CodeExecution"],
    "message_format": "RCE Stuff"
  },
  {
    "name": "User Control Issue",
    "code": 1002,
    "sources": ["UserControlled_Meta"],
    "sinks": ["XSS"],
    "message_format": "UserError Stuff"
  },
  {
    "name": "User Control Issuess",
    "code": 1003,
    "sources": ["CustomUserControlled", "UserControlled_Meta", "UserControlled", "UserControlled_Payload", "UserControlled_Parameter"],
    "sinks": ["XSS", "ServerSideTemplateInjection", "ResponseHeaderValue", "ResponseHeaderName", "ReturnedToUser", "FileSystem_ReadWrite", "Redirect", "CodeExecution"],
    "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
  }
  ]
}
